<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <title>RedCub Mail</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/master.css" 
	  type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/highslide.css" 
	  type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/mailer.css" 
	  type="text/css" media="screen" charset="utf-8" />

    <script type="text/javascript" 
	    src="/javascripts/jquery.js"></script>

    <script type="text/javascript" 
	    src="/javascripts/highslide/highslide-full.js"></script>

    <script type="text/javascript" 
	    src="/javascripts/util.js"></script>

    <script type="text/javascript" 
	    src="/javascripts/popupmenu.js"></script>

    <script type="text/javascript" 
	    src="/javascripts/mailer.js"></script>

    <script type="text/javascript" 
	    src="/javascripts/profile.js"></script>

    <script type="text/javascript" 
	    src="/javascripts/filter.js"></script>

    <script type="text/javascript">
      hs.graphicsDir = "/images/highslide/";
      hs.align = "center";
      hs.transitions = ["expand", "crossfade"];
      hs.outlineType = "rounded-white"; /* glossy-dark rounded-white */
      hs.wrapperClassName = "controls-in-heading";
      hs.fadeInOut = true;

      hs.width = 800;
      //hs.dimmingOpacity = 0.75;
      hs.dragByHeading = true;

      /* Add Control */
      if (hs.addSlideshow) hs.addSlideshow({
        interval: 5000,
        repeat: false,
        useControls: true,
        fixedControls: false,
        overlayOptions: {
          opacity: 1,
          position: 'top right',
          hideOnMouseOut: false
        }
      });
      
      window.onload = function() {
        /* setInterval("mailer.updateMailList()", 10000); */
        new RightClickMenu();
      }
    </script>
  </head>
  <body>
    <div id="logout">
      <a href="/logout">ログアウト</a>
    </div>

    <div style="clear:both"></div>

    <div id="header-container">
      <h1>RedCub→</h1>
    </div>

    <div id="container">
      <!-- <%= message[:notice] %> -->
      <%= catch_content :for_layout %>
    </div>


    <div style="clear:both;"></div>

    <div id="footer-container">
      Powerd by <span class="red">RedCub</span> &copy; 2009-2010 hiroeorz
    </div>
  </body>
</html>
