
<div class="mailbox-list" id="mailbox-list">
  <%= partial :traylist %>
</div>

<div class="mailbox" id="mailbox">

  <div class="mail-menu">
    <%= partial :mailmenu %>
  </div>

  <div style="clear:both" ></div>

  <div id="mail-list">
    <%= partial :maillist %>
    <div style="clear: both;"></div>
  </div>

</div>


<div style="clear:both;"></div>
